section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 600px;
}

.blob {
    position: absolute;
    width: 600px;
    height: 600px;
}

.blob:nth-child(2) {
    filter: blur(50px);
}

@media only screen and (max-width: 535px){
    .blob{
        width: 400px;
        height: 400px;
    }
}
  
    
