:root {
  --cube-color: #FFE424;
}

$cube-shadow-distance: -3.563rem;
$cube-shadow-blur: 1.875rem;
$cube-width: 2.813rem;
$cube-height: 2.813rem;
$cube-spacing: 1.406rem;
$cube-icon-spacing: 0.469rem;
$cube-icon-shadow: 1.875rem;
$cube-font-color: #fff58ba8;
$cube-sides:#FFF68B;

/* Rotating cube infos */

.cube {
    position: absolute;
    width: $cube-width;
    height: $cube-height;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animate 4s linear infinite;
    bottom:5vmin;
    right:5vmin;
  }
  
  @keyframes animate {
    0% {
      transform: rotateX(-30deg) rotateY(0deg);
    }
    100% {
      transform: rotateX(-30deg) rotateY(360deg);
    }
  }
  
  .cube div {
    position: absolute;
    top: 0;
    left: 0;
    width: $cube-width;
    height: $cube-height;
    transform-style: preserve-3d;
  }
  
  .cube div span {
    position: absolute;
    top: 0;
    left: 0;
    width: $cube-width;
    height: $cube-height;
    background: linear-gradient($cube-sides, var(--cube-color));
    transform: rotateY(calc(90deg * var(--i))) translateZ($cube-spacing);
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    border: 0.5px solid var(--cube-color);
    border-radius: 2px;
  }
  
  .cube div span a {
    position: absolute;
    font-size: 1.5em;
    color: var(--cube-color);
    transform: translateZ($cube-icon-spacing)
  }
  
  .cube div span a:nth-child(1) {
    transform: translateZ(0) translateY($cube-icon-shadow);
    color: rgba(0, 0, 0, 0.2);
    filter: blur(2px);
  }
  
  .top {
    position: absolute;
    top: 0;
    left: 0;
    width: $cube-width;
    height: $cube-height;
    background: $cube-sides;
    transform: rotateX(90deg) translateZ($cube-spacing);
    border-radius: 2px;
  }
  
  .top::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: $cube-width;
    height: $cube-height;
    background: var(--cube-color);
    transform: translateZ($cube-shadow-distance);
    filter: blur($cube-shadow-blur);  
    box-shadow: 0 0 12px rgba(255, 250, 143, 0.2);
  }

  .cube::before {
    content: 'sera';
    position: absolute;
    bottom: 60px;
    left: 10px;
    color: var(--cube-color);
    -webkit-text-stroke: 0.7px $cube-font-color;
  }

  .cube div span a:nth-child(2):hover{
    color: #FFF;
  }

  @media only screen and (max-width: 320px){
    .cube {
      display: none;
    }
  }